# use e.g. https://django-secret-key-generator.netlify.app/ to generate a secret key
SECRET_KEY=''
DEV=True
DEBUG=False
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
POSTGRES_USER=postgres
POSTGRES_NAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_CONTAINER=db
POSTGRES_DBB=postgres
POSTGRES_DB=db
POSTGRES_PORT=5432


