Django>=3.0,<4.0
psycopg2>=2.8
Pillow>=9.0.1
numpy>=1.18.5
libgdal>=3.2.0
gdal>=3.3.2
aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
Babel==2.8.0
channels==3.0.5
Django==3.2.10
django-cors-headers==3.13.0
django-filter==22.1
django-templated-mail==1.1.1
djangochannelsrestframework==0.3.0
djangorestframework==3.13.1
djoser==2.1.0
npm==0.1.1
optional-django==0.1.0