PostgreSQL 14.0
Python 3.7.3
GEOS 3.10.1
PROJ 8.2.0
LibXML 2.9.12
GDAL 3.4.2

see "https://docs.djangoproject.com/fr/4.1/ref/contrib/gis/install/geolibs/#gdalbuild for installation"
or "http://download.osgeo.org" for GDAL, GEOS and PROJ and Postgis
see "https://postgis.net/docs/postgis_installation.html#install_requirements" for LibXML

With Debian/Ubuntu, it is recommended to install the following packages : postgresql-x.x, postgresql-x.x-postgis, postgresql-server-dev-x.x et python-psycopg2 (where x.x corresponds to the version of PostgreSQL that you want to install).

To link PostGIS to your PostgreSQL database, run this command in your postgres table
	-- Enable PostGIS (as of 3.0 contains just geometry/geography)
	CREATE EXTENSION postgis;


pip 20.2.2
numpy 1.18.5
gdal 3.4.2
djoser 2.1.0
djangorestframework 3.13.1
djangorestframework-simplejwt 4.8.0
djangochannelsrestframework 0.3.0
Django 3.2.10
django-filter 22.1
django-cors-headers 3.13.0
torch 1.12.1
torchvision 0.13.1
Pillow 9.0.1
matplotlib 3.4.3
asgiref 3.5.2
geopy 2.2.0
psycopg2 2.9.3
npm 0.1.1

npm install vue
npm install -g @vue/cli

Go into /tfe/frontend/
	npm install
	npm run serve (the frontent server is running)

To run the backend
	go to /tfe/backend/
	run python mane.py runserver

The database listen on port 5432 and run on port 8080
Django listen on port 8000
Vue listen on port 8081
