{% extends 'mymap/base.html' %} {% load static %} {% load my_filters %} {% block content %}
<main>
    <section>
        <h1>Best Articles</h1>

        <!--<p>Hello {{ user.email }} </p>-->

        {% if best_barter_list %}
        <!--Les articles les plus mieux-->
        <ul class="list-unstyled list-group list-group-horizontal align-content-around boite-fixe-centree">
            {% for barter in best_barter_list %}

            <li class="list-group-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h5 class="card-title">{{ barter.name }}</h5>
                            {% if barter.image %}
                            <img src={{ barter.image.url }} alt="Card Image Cap" style="width:250px;height:250px;"> {% else %}
                            <img src={% static "mymap/images/th.jfif" %} alt="Card Image Cap" style="width:250px;height:250px;"> {% endif %}
                        </div>
                        <div class="flip-card-back">
                            <a href="{% url 'detailBarter' barter.id %}">
                                <h1>{{ barter.name }}</h1>
                                <p class="card-text ">{{ barter.description }}</p>
                                <ul class="list-unstyled d-flex flex-row ">
                                    <li class="p-2 ">
                                        <p>
                                            {% if barter.category1 %} {{ barter.category1 }} {% endif %}

                                        </p>
                                    </li>
                                    <li class="p-2 ">
                                        <p>
                                            {% if barter.category2 %} {{ barter.category2 }} {% endif %}
                                        </p>
                                    </li>
                                </ul>
                            </a>

                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}

            <li class="list-group-item">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h5>View More</h5>
                            <svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-plus-circle " viewBox="0 0 16 16 ">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z "/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z "/>
                            </svg>
                        </div>
                        <div class="flip-card-back d-flex ">
                            <a href="/mymap/content/ ">
                                <h1 class="card-text align-items-center d-flex justify-content-center ">Click Here</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% endif %}
    </section>
</main>
<footer>
    <ul class="list-unstyled d-flex justify-content-around ">
        <li>
            <!--Tous les trucs de "A propos " etc-->
        </li>
        <li>
            <!--Tout ce qui est "Contact " etc-->
        </li>
    </ul>
</footer>
{% endblock %}