{% extends 'mymap/base.html' %} {% load static %} {% block content %}
<main>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center">
                    {% if user.image %}
                    <img src={{ barter.image.url }} alt="Card Image Cap" style="width:250px;height:250px;"> {% else %}
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"> {% endif %}
                    <span class="font-weight-bold">{{user_information.username}}</span>
                    <span class="text-black-50">{{user_information.email}}</span>
                </div>
            </div>
            <div class="col-md-8 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">Last Name<br />{{user_information.last_name}}</div>
                        <div class="col-md-6">First Name<br />{{user_information.first_name}}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">Description<br />{{ user.decription }}</div>
                    </div>
                    <div class="row mt-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Last Barters</h4>
                    </div>
                    <div class="row" style="height:40px;"></div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            {% if barter_list %}
                            <!--Les articles les plus mieux-->
                            <ul class="list-unstyled list-group list-group-horizontal align-content-around boite-fixe-centree">
                                {% for barter in barter_list %}
                                <li class="list-group-item">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <h5 class="card-title">{{ barter.name }}</h5>
                                                <img src={{ barter.image.url }} alt="Card Image Cap" style="width:250px;height:250px;">
                                            </div>
                                            <div class="flip-card-back">
                                                <a href="{% url 'detailBarter' barter.id %}">
                                                    <h1>{{ barter.name }}</h1>
                                                    <p class="card-text">{{ barter.description }}</p>
                                                    <ul class="list-unstyled d-flex flex-row">
                                                        <li class="p-2">
                                                            <p>
                                                                {% if barter.category1 %} {{ barter.category1 }} {% endif %}
                                                            </p>
                                                        </li>
                                                        <li class="p-2">
                                                            <p>
                                                                {% if barter.category2 %} {{ barter.category2 }} {% endif %}
                                                            </p>
                                                        </li>
                                                        <li class="p-2">
                                                            <p>
                                                                {% if barter.category3 %} {{ barter.category3 }} {% endif %}

                                                            </p>
                                                        </li>
                                                    </ul>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %} {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <!--Button should point to Content with filter -> by user.id -->
                        <a href="{% url 'showContent' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See all barters in progress</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}